#Files to ignore. 
#Other files. Many .txts used for transport curves.
#*.txt
#*.mat
#*.png
#*.dat
#*.eps
#*.ps
#*.db
# Ignore windows thumbnail files (they are not helpful)
thumbs.db 
#Associated with backups and Mercurial server
*.asv
*.swp
*.hg*
#Associated with adbasic
#*.BAK
#*.bat
#*.bas
#*.TB1
